<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: space-between;">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="navbar-nav">
        <% if (isLoggedIn) { %>
          <a style="margin: auto;">Logged in as: <%= email %></a>
          <div class="fixed-right" style="margin-right:auto;">
          <form method="POST" action="/logout" class="form-inline">
            <button type="submit" class="btn btn-primary" style="margin-top:1em;">Logout</button>
        </form>
      </div>
        <% } else { %>
          <a class="nav-item nav-link" href="/login" style="margin-left: 90em;">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        <% } %> 
      </div>
    </div>
  </nav>
</header>